<link href="~/css/bootstrap.min.css" rel="stylesheet" />



   
<div class="modal show" id="popover" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title alert alert-danger">Login Failed</h4>
            </div>
            <div class="modal-body">
               Username or Password incorrect!
            </div>
            <div class="modal-footer">
                <button type="button" onclick="GoToHomePage()">Close</button>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    function GoToHomePage() {
        window.location = '/';
    }
</script>